$primary : #1E77F1;

$secondary : #6D757D;

$success : #27A746;

$info : #18A2B8;

$warning : #FEC250;

$danger : #DC3645;

$light : #F8F9FA;

$dark : #1A1A1A;
// $dark : #343A40;
// $dark : #212121;

$default : #FFFFFF;

$border-color-orange: #ffc517;

$block-hover-grey: #E1E1E1;

$menu-item-dark: #242424;